<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>member-interface</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>de.lsvn.util.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPwd</display-name>
    <servlet-name>NewPwd</servlet-name>
    <servlet-class>de.lsvn.util.NewPwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPwd</servlet-name>
    <url-pattern>/NewPwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PwdReset</display-name>
    <servlet-name>PwdReset</servlet-name>
    <servlet-class>de.lsvn.controller.PwdSetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdReset</servlet-name>
    <url-pattern>/PwdReset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPwdInput</display-name>
    <servlet-name>NewPwdInput</servlet-name>
    <servlet-class>de.lsvn.controller.NewPwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPwdInput</servlet-name>
    <url-pattern>/NewPwdInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPwdSubmit</display-name>
    <servlet-name>NewPwdSubmit</servlet-name>
    <servlet-class>de.lsvn.controller.NewPwdSubmitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPwdSubmit</servlet-name>
    <url-pattern>/NewPwdSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>de.lsvn.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserController</display-name>
    <servlet-name>UpdateUserController</servlet-name>
    <servlet-class>de.lsvn.controller.UpdateUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserController</servlet-name>
    <url-pattern>/UpdateUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OldPwdController</display-name>
    <servlet-name>OldPwdController</servlet-name>
    <servlet-class>de.lsvn.controller.OldPwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OldPwdController</servlet-name>
    <url-pattern>/OldPwdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPwdController</display-name>
    <servlet-name>ForgotPwdController</servlet-name>
    <servlet-class>de.lsvn.controller.ForgotPwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPwdController</servlet-name>
    <url-pattern>/ForgotPwdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PwdController</display-name>
    <servlet-name>PwdController</servlet-name>
    <servlet-class>de.lsvn.controller.PwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdController</servlet-name>
    <url-pattern>/PwdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOff</display-name>
    <servlet-name>LogOff</servlet-name>
    <servlet-class>de.lsvn.util.LogOff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOff</servlet-name>
    <url-pattern>/LogOff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MsScheduler</display-name>
    <servlet-name>MsScheduler</servlet-name>
    <servlet-class>de.lsvn.controller.MsScheduler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsScheduler</servlet-name>
    <url-pattern>/MsScheduler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewSchedulerEvent</display-name>
    <servlet-name>NewSchedulerEvent</servlet-name>
    <servlet-class>de.lsvn.controller.NewSchedulerEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewSchedulerEvent</servlet-name>
    <url-pattern>/NewSchedulerEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurgeSchedulerEvent</display-name>
    <servlet-name>PurgeSchedulerEvent</servlet-name>
    <servlet-class>de.lsvn.controller.PurgeSchedulerEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurgeSchedulerEvent</servlet-name>
    <url-pattern>/PurgeSchedulerEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendNewsletter</display-name>
    <servlet-name>SendNewsletter</servlet-name>
    <servlet-class>de.lsvn.controller.NewsletterDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendNewsletter</servlet-name>
    <url-pattern>/SendNewsletter</url-pattern>
  </servlet-mapping>
</web-app>